#gameArea{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: 10rem;
    margin-top:15%;
   
    
}
body{
    background-image: url("guess.png");
    background-size: cover;

}

#output{
    color: aliceblue;
    font-size: xx-large;
}

input{
    width: 20%;
    height: 50px;
    font-size: large;
    border-radius: 10px;
    text-align: center;
}